* {
  margin: 0;
  padding: 0;
}

body {
    background:#000;
    width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.square {
    border-right: 1px solid black;
    width: calc(100% / 16);
    margin: 0;
    background-color: white;
}

.square:last-child {
  border-right: none;
}

.row:last-child {
  border-bottom: none;
}
