* {
  margin: 0;
  padding: 0;
}

body {
    background: #fff;
    width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:first-child {
  border-top: 1px solid black;
}

.square {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: calc(100% / 16);
    margin: 0;
}

.square:last-child {
  border-right: none;
}

.black {
  background-color: black;
}
/* -- for styling radio buttons --
https://codepen.io/AngelaVelasquez/pen/Eypnq
*/
